* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;

}
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;

}

html{
height:119vh;
}

.wrapper{
/* background: url(bg-img.jpg) no-repeat; */
background-size: cover;
height: 95vh;
}

.navbar{
height: 95px;
width: 100%;
background: rgba(0, 0, 0, 0.493);
}

.logo{
width: 200px;
height: auto;
padding: 20px 100px;
font-size: 35px;
color: white;
float: left;
}
.navbar ul{
float: right;
margin-right: 20px ;
}
.navbar ul li{
list-style: none;
margin: 0 8px;
display: inline-block;
line-height: 90px;
}
.navbar ul li a{
text-decoration: none;
color: white;
font-size: 20px;
padding: 10px 13px;
font-family: "Roboto", sans-serif;
transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
background: rgb(255, 0, 0) ;
border-radius: 2px;
border-color: rgb(255, 255, 255);
}



.contact
{
    background: url(support.jpg) no-repeat;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image:url(support.jpg); */
    background-size: cover;
}
.contact .content
{max-width: 800px;
text-align: center;
}
.contact .content h2
{
  font-size: 36px;
  font-weight: 500;
  color: red;
}
.contact .content p
 {
     font-size: 25px;
    font-weight: 500;
    color:#fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: centre;
    align-items: center;
    margin-top:30px;

}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding:  20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left:20px;
    font-size:16px;
    color:#fff;
    flex-direction:column;
    font-weight:300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #ce1635;
}

.contactForm
{
    width: 40%;
    padding:40px;
    background: rgb(255, 255, 255);
}

.contactForm h2 
{
    font-size: 30px;
    color:rgb(0, 0, 0);
    font-weight: 500;
}

.contactForm .inputBox 
{
position: relative;
width: 100%;
margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea
{
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
border-bottom: 2px solid #333;
outline: none;
resize: none;
}
.contactForm .inputBox span
{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color:rgb(0, 0, 0);
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] 
{
width: 100px;
background: #e02323;
color: rgb(0, 0, 0);
border: none;
cursor: pointer;
padding: 10px;
font-size: 18px;
}

@media  (max-width: 991px)
{
.contact
{
    padding: 50px;
}
.container
{
    flex-direction: column;
} 
.container .contactInfo
{
    margin-bottom: 40px;
}
.container .contactInfo,
.contactForm
{
    width: 100%;

}

.contactForm #status{
    flex-direction: column;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 ;
    border-radius: 8px;
}

.contactForm #status.success{
    background-color: rgb(79, 226, 87) ;
    animation: status 4s ease  forwards;
}

.contactForm #status.error{
    background-color: rgb(228, 21, 21);
    color: white;
    animation: status 4s ease  forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
    
}

}

/* Footer */
*{
margin: 0;
padding: 0;
/* box-sizing: border-box; */
font-family: 'Poppins', sans-serif;
}

/* body{
display: flex;
justify-content: flex-end;
align-items: center;
min-height: 100vh;
flex-direction: column;
background: #ede7f6;
} */

footer{
position: relative;
width: 86%;
height: auto;
padding: 50px 100px;
background: #111;
justify-content: space-between;
flex-wrap: wrap;
}
footer .section{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}
footer .section .sec{
margin-right: 30px;
}
footer .section .sec.aboutus{
width: 40%;
}
footer .section h2{
position: relative;
color: #fff;
font-weight: 500;
margin-bottom: 15px;

}

footer .section h2::before{
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 50px;
height: 2px;
background: #f00;
}

footer .section .sec.aboutus p{
color: #999;
}

.sci{
margin-top: 20px;
display: flex;
}

.sci li{
list-style: none;
}

.sci li a {
display: inline-block;
width: 40px;
height: 40px;
background: #222;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
text-decoration: none;
border-radius: 4px;
}
.sci li a:hover{
background: #f00;
}
.sci li a .fab{
color:#fff;
font-size: 20px;
}

.quickLinks{
position: relative;
width: 25%;
}

.quickLinks ul li{
list-style: none;
}

.quickLinks ul li a{
color: #999;
text-decoration: none;
margin-bottom: 10px;
display: inline-block;
}

.quickLinks ul li a:hover{
color: #fff;
}

.touch{
width: calc(35% - 60px);
margin-right: 0! important;
}

.touch .info{
position: relative;
}

.touch .info li{
display: flex;
margin-bottom: 16px;
}

.touch .info li span:nth-child(1){
color: #fff;
font-size: 20px;
margin-right: 10px;

}

.touch .info li span{
color: #999;
}

.touch .info li a{
color: #999;
text-decoration: none;
}

.touch .info li a:hover{
color: #fff;
}
.copyrightText{
width: 86%;
background: #181818;
padding: 8px 100px;
text-align: center ;
color: #999;
}
@media (max-width: 991px)
{
footer{
    padding: 40px;
}

footer .section
{
    flex-direction: column;
}
footer .section .sec {
    margin-right: 0;
    margin-bottom: 40px;
}
footer .section .sec.aboutus, .quickLinks, .touch{
    width:100%;
}
.copyrightText{
    padding: 8px 40px;
}
}